body{
    display: flex;
    width: 200px;
    height: auto;
    margin: auto;
    margin-top: 20px;
    border: solid black;
    padding: 10px;
    font-size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button{
    background-color: rgb(23, 196, 115);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
    border-radius: 10px;
}
#form{
    text-align: center;
}
#message{
    height: fit-content;
    width: fit-content;
    border: solid black;
    border-radius: 10px;
}